<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <!--       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

        <meta name="viewport" content="width=device-width">

        <meta property="og:title" content="funnel city - mobile web strategies" />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="funnel city" />
        <meta property="og:url" content="http://funnelcity.com" />
        <meta property="og:image" content="null" />
        <meta property="og:description" content="A digital agency from Vancouver specialized in the art and science of creating engaging experiences for the &mdash;mobile&mdash; web." />

        <meta name="bitly-verification" content="1072a84d4364"/>

 
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <link href="resources/webfonts/ss-social.css" rel="stylesheet" />

        <script src="javascripts/vendor/custom.modernizr.js"></script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
