<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <!--       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

        <meta name="viewport" content="width=device-width">

        <meta property="og:title" content="funnel city - mobile web strategies" />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="funnel city" />
        <meta property="og:url" content="http://funnelcity.com" />
        <meta property="og:image" content="null" />
        <meta property="og:description" content="A digital agency from Vancouver specialized in the art and science of creating engaging experiences for the &mdash;mobile&mdash; web." />

        <meta name="bitly-verification" content="1072a84d4364"/>

 
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/stylesheets/main.css">

        <link href="/resources/webfonts/ss-social.css" rel="stylesheet" />

        <script src="/foundation/js/vendor/custom.modernizr.js"></script>

    </head>
    <body>
      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar">
              <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                  <h1><a href="/">{{ site.name }}</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>

              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                  <li class="divider"></li>
                  <li class="active"><a href="/our-work">our work</a></li>
                  <li class="divider"></li>
                  <li><a href="/contact">contact</a></li>
                  <li class="divider"></li>   
                </ul> 
              </section>
          </nav>

          {{ content }}

          <div class="row featured-boxes-row">
            

            <div class="large-3 columns panel radius">
              <h2>latest tweet <i class="ss-icon ss-social-circle">twitter</i></h2>
              <div id="twitter-tweet-lc">

                
                      
              </div>
              <script>
                
                </script>
            </div>

            <div class="large-4 large-offset-1 columns panel radius">
              {% include blog-feed.html %}
            </div>

            <div class="large-3 large-offset-1 columns panel radius">
              <h2>connect</h2>
              <div class="row icons">
                    
                <ul>
                  <li><a href="https://twitter.com/funnelcity"><i class="ss-icon ss-social-circle">twitter</i>twitter</a></li>
                  <li><a href="https://www.facebook.com/funnelcityinc"><i class="ss-icon ss-social-circle">facebook</i>facebook</a></li>
                  <li><a href="https://plus.google.com/118225421381482748749" rel="publisher"><i class="ss-icon ss-social-circle">google+</i>google+</a></li>
                </ul>
            
              </div>
            </div>
          </div>

          <div class="large-12 columns">
            <footer>
              <span><a href="#">funnel city</a> <small>&copy; 2012</small></span>
              <dl class="sub-nav">
                <dd><a href="#">privacy policy</a></dd>
                <dd><a href="#">site map</a></dd>
              </dl>
            </footer>
          </div>
    
        </div>
      </div>



        <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'foundation/js/vendor/zepto' : 'foundation/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/foundation/js/foundation/foundation.js"></script>
  
  <script src="/foundation/js/foundation/foundation.abide.js"></script>
  
  <script src="/foundation/js/foundation/foundation.alerts.js"></script>
  
  <script src="/foundation/js/foundation/foundation.clearing.js"></script>
  
  <script src="/foundation/js/foundation/foundation.cookie.js"></script>
  
  <script src="/foundation/js/foundation/foundation.dropdown.js"></script>
  
  <script src="/foundation/js/foundation/foundation.forms.js"></script>
  
  <script src="/foundation/js/foundation/foundation.interchange.js"></script>
  
  <script src="/foundation/js/foundation/foundation.joyride.js"></script>
  
  <script src="/foundation/js/foundation/foundation.magellan.js"></script>
  
  <script src="/foundation/js/foundation/foundation.orbit.js"></script>
  
  <script src="/foundation/js/foundation/foundation.placeholder.js"></script>
  
  <script src="/foundation/js/foundation/foundation.reveal.js"></script>
  
  <script src="/foundation/js/foundation/foundation.section.js"></script>
  
  <script src="/foundation/js/foundation/foundation.tooltips.js"></script>
  
  <script src="/foundation/js/foundation/foundation.topbar.js"></script>
  
  <script src="/foundation/js/main.js"></script>
  
  <script>
    $(document).foundation();
  </script>

    </body>
</html>
